.container-1, .container-2{
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 75%;
}
.container-img{
    border: 2px solid black;
    background: radial-gradient(circle farthest-corner at center center, #18a3a8 0%, #231421 100%);
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 75%;
    flex-wrap: wrap;
    flex-direction: row;
   
}
.container-img img{
    height: 150px;
}
.container-img img:hover{
    box-shadow: 10px 10px 5px 0px rgb(22, 36, 61);
    

    
} 
table tr, th, td{
    border: 1px solid black;
    padding: 4px;
    width: 3%;
}
table{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 3px;
   
}
.flex-blackjack-row-1,.flex-blackjack-row-2, .flex-blackjack-row-3{
    border: 1px solid black;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding-top: 7px;
    padding-bottom: 7px;
    border-collapse: collapse;
    flex-wrap: wrap;
    flex-direction: row;
   
}
.flex-blackjack-row-1, .flex-blackjack-row-2,.flex-blackjack-row-3{
    background: radial-gradient(circle farthest-corner at center center, #49d690 0%, #231421 100%);
    color: white;
}
.flex-blackjack-row-1 div{
    border: 2px solid black;
    border-bottom: 5px solid gray;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    flex: 2;
   
    padding: 10px;
    text-align: center;
    height: 33vw;
}
.flex-blackjack-row-2 div button{
    margin: 1%;
    border: .5px solid rgba(21, 20, 29, 0.89);

}


#dealer-box img{
    height: 10vw;
    padding: 3px;
    
}
#your-box img{
    height: 10vw;
    padding: 3px;
}